@model LoginViewModel
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = "Login";
}

<h1>@localizer["login"]</h1>

<h4>@localizer["LoginViewModel"]</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Login" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
             <div class="form-group">
                <input  type="checkbox" name="isPersistent" id="RemeberMe" class="form-check-input" value="true"/>
                <label for="RemeberMe" class="form-check-label">@localizer["Remember Me"]</label>
            </div>
            <div class="form-group row">
                <input type="submit" value="@localizer["login"]" class="btn btn-primary m-2 col-4" />
                <a class="btn btn-primary m-2 col-4" asp-action="ForgotPassword">@localizer["Forgot Password"]</a>
            </div>
        </form>
    </div>
    <div class="col-md-4">
        <a asp-action="ExternalLogin" asp-route-provider="Facebook" asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" class="btn btn-primary">Facebook</a>
        <a asp-action="ExternalLogin" asp-route-provider="Google"  asp-route-returnUrl="@Context.Request.Query["ReturnUrl"]" class="btn btn-danger">Google</a>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}