@using FileSharingApp.Data
@using Microsoft.AspNetCore.Identity;
    using FileSharingApp.Areas.Identity.Models
@model ChangeUserInformationViewModel
@inject IViewLocalizer localizer

<h1>@localizer["Change User Information"]</h1>

<hr />
<div class="row mt-4 mb-4">
    <div class="col-md-4">
        <form asp-action="EditUserInformation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
             <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="@localizer["Change"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@if(Model.HasPassword){
<partial name="ChangePaswwordPartial" model="@Model.changePasswordViewModel" />
}
else {
<partial name="AddPasswordPartial" model="@Model.addPasswordViewModel" />
}

<div class="mt-2 mb-2">
    <a asp-action="Index">@localizer["Back to List"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
